@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --tblr-font-sans-serif: 'Rubik';
}

[x-cloak] { display: none !important; }

[v-cloak] {
    display: none;
}

table thead th a {
    color: #656d77;
}

table thead th a, a:hover {
    text-decoration: none;
    color: #656d77;
}

.flatpickr-calendar {
    background: var(--tblr-light-bg-subtle) !important;
}
